@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Protest+Riot&family=Roboto&family=Salsa&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

:root {
  --font-salsa: "Salsa", cursive;
  --font-source: "Source Code Pro", monospace;
  --font-roboto: "Roboto", sans-serif;
  --font-riot: "Protest Riot", sans-serif;
  --font-protest: "Protest Revolution", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --color-white: whitesmoke;
  --color-black: black;
  --color-grey: rgb(194, 194, 194);
  --color-brown: rgb(199, 187, 175);

  --color-orange: #ef7d00;
  --color-green: #198A00;
  --color-red: #EF0500;
  --color-altred: #de2010;
  --color-greygreen: #a5dcad;
  
  --text-shadow: .2em .2em rgba(196, 196, 196, 0.33);
  --orange-shadow: .2em .2em #ef7b0029;
  --nav-shadow: .2em .2em rgba(193, 193, 193, 0.33);
  --box-shadow: .33rem .33rem rgba(128, 128, 128, 0.33);
  --invert-shadow: 0rem -.33rem rgba(128, 128, 128, 0.33);

  --box-border: .1em solid whitesmoke;
  --dark-border: .1em solid black;
}

body {
  background-color: var(--color-grey);
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.splash-div {
  margin: 1% 10vw;
  width: 80vw;
}

.before-image {
  box-shadow: var(--box-shadow);
  float: left;
  margin: 1vw;
  height: auto;
  width: 20vw;
}

.splash-title {
  font-size: max(1vw, 20px);
}

.div-header {
  font-size: max(2vw, 40px);
  text-align: center;
}

.wide-rule {
  border-color: var(--color-orange);
  margin: 1vw 5vw;
  width: 90vw;
}