.donor-parent {
    display: flex;
    color: var(--color-black);
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: auto;
    text-shadow: var(--text-shadow);
}

.donate-btn-title {
    color: var(--color-orange);
    text-shadow: var(--orange-shadow);
    font-size:max(20px, 1vw);
    font-family: var(--font-salsa);
}

/* .donor-title {
    color: var(--color-black);
    font-family: var(--font-salsa);
    font-size: 300%;
    text-shadow: var(--orange-shadow);
    text-align: center;
    margin: .5rem;
} */

.donor-div {
    width: 80%;
    margin: auto;
}

.donor-list-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
}

.donor-block {
    background-color: var(--color-greygreen);
    border: var(--dark-border);
    box-shadow: var(--box-shadow);
    text-align: center;
    margin: 1% 0 1% 4%;
    width: 46%;
}

.donor-block h1 {
    color: var(--color-orange);
    text-shadow: var(--orange-shadow);
    font-family: var(--font-salsa);
    font-size: 200%;
    font-weight: 600;
}

.donor-block h2 {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 125%;
}

.donor-block span {
    color: var(--color-orange);
    font-size: 125%;
}

.donor-rule {
    color: var(--color-orange);
    border: .1rem solid var(--color-orange);
    width: 80%;
    margin: 1% 10%;
}