.footer-parent {
    background-color: var(--color-green);
    box-shadow: var(--invert-shadow);
    border-top: .1vw solid var(--color-greygreen);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.foot-div {
    margin: 1% 0%;
}

#foot-break {
    height: 5vh;
    width: .1vw;
    border: .1vw solid var(--color-orange);
    text-align: center;
}

.foot-title {
    color: var(--color-orange);
    text-align: center;
    text-shadow: var(--text-shadow);
    font-style: var(--font-salsa);
}