.header-parent {
    background-color: var(--color-green);
    border-bottom: .1rem solid var(--color-greygreen);
    display: flex;
    position: sticky;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    top: 0;
    z-index: 11;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--color-green);
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

.header-title {
    color: var(--color-orange);
    font-family: var(--font-salsa);
    text-shadow: var(--text-shadow);
    font-size: max(2.0vw, 1.5rem);
    margin: 1% 5%;
}

.header-image-container {
    display: flex;
    align-items: center;
    width: 10%;
}

.header-image {
    max-height: 200px;
    margin: 0%;
}