.data-blurb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 5%;
}

.data-element {
    width: 30%;
    margin: 0% 1.5%;
    border-left: .1rem solid var(--color-orange);
    border-right: .1rem solid var(--color-orange);
    text-align: center;
}

.data-title {
    color: var(--color-orange);
    font-family: var(--font-salsa);
    font-size: max(1.75vw, 18px);
    font-weight: 600;
}

.data-text {
    margin-top: 1%;
    font-size: max(1vw, 12px);
    padding: 5%;
}

.data-span {
    color: var(--color-orange);
}